//colour scheme 

$prm-color: #000000;
$sec-color: #A5A5A6;
$tert-color: #333333;

// font styling 

$prm-font-family: Helvetica, sans-serif;
$prm-font-color: white;
$sec-font-color: black;
$prm-font-size: 30px;

// width and height



// margin and padding 


// border styling 
