* {
  margin: 0 auto;
  box-sizing: border-box;
}

.calculator {
  width: 40vw;
  height: 100vh;
  margin: 0px;
  border: 2px solid black;
  justify-content: center;
  background-color: black;
}
.calculator .input__container {
  width: 30vw;
  height: 20vh;
}
.calculator .buttons {
  width: 40vw;
  height: 80vh;
  margin: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  align-items: center;
  color: white;
}
.calculator .buttons .btn__grey {
  width: 10vh;
  height: 10vh;
  background-color: #A5A5A6;
  color: white;
  border: 1px solid #A5A5A6;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator .buttons .btn__orange {
  width: 10vh;
  height: 10vh;
  background-color: #EE9807;
  color: white;
  border: 1px solid #EE9807;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator .buttons .btn__number {
  width: 10vh;
  height: 10vh;
  background-color: #333333;
  color: white;
  border: 1px solid #333333;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator .buttons .btn__number.zero {
  grid-column: 1/span 2;
  width: 14vw;
  height: 10vh;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  padding: 20px;
}