.wrapper {
    width: 50vh;
    height: 80vh;
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    justify-content: center;
    background-color: black;
    .side__functions {
        width: 10vh;
        height: 25vh;
        margin: 0 auto;
        display: grid;
        color: white;
          button {
              background-color: #F79A0B;
                color: white;
          }
    }
    .top__functions {
        width: 10vh;
        height: 25vh;
        margin: 0 auto;
        display: grid;
        color: black;
        button {
            background-color: #A5A5A5;
            color: white;
        }
    }
}
