.wrapper {
    width: 50vh;
    height: 80vh;
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    background-color: black;
    .side__functions {
        width: 10vh;
        height: 25vh;
        margin: 0 auto;
        display: grid;
        color: white;
          button {
              background-color: #F79A0B;
                color: white;
          }
    }
    .top__functions {
        width: 10vh;
        height: 25vh;
        margin: 0 auto;
        display: grid;
        color: black;
        button {
            background-color: #A5A5A5;
            color: black;
        }
    }
    .number__btns {
        width: 10vh;
        height: 25vh;
        margin: 0 auto;
        display: grid;
        color: black;
         button {
             background-color: #6b6b6b;
             color: white;
         }
    }
}
