.calculator {
  width: 50vh;
  height: 80vh;
  margin: 0 auto;
  border: 2px solid black;
  justify-content: center;
  background-color: black;
}
.calculator .buttons {
  width: 50vh;
  height: 50vh;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  color: white;
  border-radius: 50%;
}
.calculator .buttons .btn__grey {
  background-color: #333333;
  color: white;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 50%;
}